export(catf)
export(cFactor)
export(checkArg)
export(checkListElementClass)
export(coalesce)
export(collapse)
export(convertInteger)
export(convertIntegers)
export(extractSubList)
export(insert)
export(isDirectory)
export(isEmptyDirectory)
export(is.error)
export(isProperlyNamed)
export(listToShortString)
export(makeProgressBar)
export(messagef)
export(namedList)
export(printToChar)
export(requirePackages)
export(save2)
export(splitTime)
export(stopf)
export(suppressAll)
export(warningf)
